body{
  margin: 0px;
}

.header{
  font-size: 25px;
  background-color: whitesmoke;
  padding: 10px;
  font-weight: bold;
}

.social a{
  padding-left: 30px!important;
  float: right;
}

.social i {
  color: black;
}

.photo{
  justify-content: center;
  text-align: center;
}

.photo img{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about{
  text-align: center;
  font-size: 30px;
}